name: Psalm Security Scan

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  contents: read

jobs:
  psalm:
    name: Psalm Security Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run Psalm Security Scan
        uses: docker://ghcr.io/psalm/psalm-github-actions
        continue-on-error: true
        with:
          security_analysis: true
          report_file: results.sarif
      
      - name: Fix SARIF line and column numbers
        if: always()
        run: |
          jq '.runs[].results[].locations[].physicalLocation.region |= (if .startLine == 0 then .startLine = 1 else . end | if .endLine == 0 then .endLine = 1 else . end | if .startColumn == 0 then .startColumn = 1 else . end | if .endColumn == 0 then .endColumn = 1 else . end)' results.sarif > results-fixed.sarif
          mv results-fixed.sarif results.sarif

      - name: Upload Security Analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
          category: "Psalm Security Scan"